*.fls
*.fdb_latexmk
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.aux
*.log
*.el
*.asv
*.bbl
*~
/docs/ltximg/
/EXAMPLES/FIGS/E_anim/
*fig
/EXAMPLES/DATS/
*.mat
/NLIMPACTCL/FIGS/*.png
/NLIMPACTCL/FIGS/*.eps
/NLIMPACTCL/VIDS/
*/ltximg/
*/auto/
*/_minted-localnotes/
/NLIMPACTCL/localnotes/ltximg/
/NLIMPACTCL/localnotes/localnotes.tex
/NLIMPACTCL/localnotes/localnotes.pdf
/NLIMPACTCL/localnotes/localnotes.html
